<%
const info = _.cms('info')
const barCols = []
;[
  ['installments', 'credit'],
  ['producer', 'seal'],
  ['shipping', 'shipping'],
  ['promo', 'chat'],
  ['freight', 'shipping'],
].forEach(([prop, icon]) => {
  if (info[prop] && info[prop].show) {
    const { link, title, text } = info[prop]
    barCols.push({ link, title, text, icon })
  }
})
%>

<% if (barCols.length) { %>
  <section class="info-bar">
    <div class="container-fluid">
      <div class="info-bar__nav row">
        <% barCols.forEach(({ link, icon, title, text }) => { %>
          <div class="col-auto col-sm-6 col-lg-auto">
            <%- link ? `<a class="info-bar__item" href="${link}">` : '<span class="info-bar__item">' %>
              <span class="rounded-icon">
                <img src="/img/uploads/<%= icon %>.png" alt="<%= icon %>">
              </span>
              <div class="ml-3 ml-md-2">
                <% if(title) { %>
                  <div class="info-bar__title">
                    <%= title %>
                  </div>
                <% } %>
                <div class="info-bar__text">
                  <%= text %>
                </div>
              </div>
              <%- link ? '</a>' : '</span>' %>
          </div>
        <% }) %>
      </div>
    </div>
  </section>
<% } %>
